.__container_cards {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  border: 2px solid #babecc;
  flex-wrap: wrap;
  border-radius: 22px;
  border: 3px solid #babecc;
  overflow: hidden;
  justify-content: space-around;
}
