.projects {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;

  .__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;

    .__container_cards {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      border: 2px solid #babecc;
      flex-wrap: wrap;
      border-radius: 22px;
      border: 3px solid #babecc;
      justify-content: space-around;
      padding: 2rem;
    }
  }
}
//////////////////RESPONSIVE//////////////////////
@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .projects {
    .__container {
      .__container_cards {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        border: 2px solid #babecc;
        flex-wrap: wrap;
        border-radius: 22px;
        border: 3px solid #babecc;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (max-width: 1201px) and (min-width: 600px) {
  .projects {
    height: auto;
    .__container {
      height: 100%;
      .__container_cards {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        border: 2px solid #babecc;
        flex-wrap: wrap;
        border-radius: 22px;
        border: 3px solid #babecc;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    height: auto;
    .__container {
      height: 100%;
      .__container_cards {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        border: 2px solid #babecc;
        flex-wrap: wrap;
        border-radius: 22px;
        border: 3px solid #babecc;
        justify-content: space-around;
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//   @media only screen and (max-width: 1440px) and (min-width: 1200px) {
//     .projects {
//       height: auto;

//       .__container {
//         height: 100%;

//         .__container_cards {
//           display: flex;
//           width: auto;
//           height: auto;
//           align-items: center;
//           border: 2px solid #babecc;
//           flex-wrap: wrap;
//           border-radius: 22px;
//           border: 3px solid #babecc;
//           justify-content: space-around;
//         }
//       }
//     }
//   }
// }
