.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid gray;
  border-radius: 22px;

  .main_container {
    display: flex;
    width: auto;
    height: auto;
    // border: 3px solid turquoise;
    flex-wrap: wrap;
    justify-content: center;

    .logo_container {
      max-width: 33rem;
      height: auto;
      justify-content: center;
      padding: 1rem;
      border: 2px solid gray;
      border-radius: 22px;

      .__logo {
        display: flex;
        height: auto;
        width: 100%;
        align-self: center;
        justify-content: center;

        img {
          max-width: 24rem;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .__container {
      overflow: hidden;
      width: auto;
      position: relative;
      display: flex;
      align-items: center;
      height: auto;
      // border: 2px solid red;
      flex-direction: column;
      justify-content: center;

      // &.__tentacles_container {
      //   height: auto;
      //   width: 5%;
      // }

      .text {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 3rem;
        // border: 2px solid yellow;

        .__regular_text {
          width: 100%;
          height: auto;
          align-self: center;
          justify-content: center;
          display: flex;

          p {
            font-size: 40px;
          }
        }

        .__text_mobile {
          width: 100%;
          height: auto;
          justify-content: flex-end;
          align-self: center;
          justify-content: center;
          display: flex;
          display: none;

          p {
            font-size: 37px;
          }
        }
      }

      .__button_box {
        display: block;
        margin-top: 3rem;
      }
    }
  }
}
//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 1025px) and (min-width: 600px) {
  .welcome {
    flex-direction: column;
    .main_container {
      flex-direction: column;
      .logo_container {
        width: 29rem;
        margin-top: 7rem;
        .__logo {
          img {
            width: 17rem;
          }
        }
      }
      .__container {
        .text {
          .__regular_text {
            display: none;
          }
          .__text_mobile {
            display: block;
            p {
              font-size: 28px;
            }
          }
        }

        .__button_box {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .welcome {
    flex-direction: column;
    .main_container {
      flex-direction: column;
      .logo_container {
        justify-content: center;
        align-items: center;
        margin: 22px auto;
        .__logo {
          img {
            width: 12rem;
          }
        }
      }
      .__container {
        .text {
          padding: 1rem;
          .__regular_text {
            display: none;
          }
          .__text_mobile {
            display: block;
            p {
              font-size: 22px;
            }
          }
        }
        .__button_box {
          margin-top: 1rem;
        }
      }
    }
  }
}
