@import "../../style/_mixins";

.blocs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;

  .__container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    height: 100%;

    .__bloc {
      @include blocsTxt(100%, 100%, 50%);
      position: absolute;

      .logo_box {
        display: flex;
        min-width: 33%;
        height: 100%;
        margin: auto;
        // border: 5px solid blue;
        z-index: 999;
        position: absolute;

        .__logo {
          display: flex;
          height: auto;
          width: 100%;
          align-self: center;
          position: absolute;
          justify-content: flex-end;
          padding: 10px;
          img {
            max-width: 24rem;
            height: auto;
            object-fit: cover;
          }
        }
      }

      .__img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .__text {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        z-index: 11;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;

        .home_text {
          // border: 4px solid turquoise;
          width: 67%;
          height: auto;
          display: flex;
          align-content: center;
          align-self: center;
          padding: 10px;
          p {
            font-size: 42px;
            line-height: 47px;
            white-space: pre-wrap;
          }
        }

        .__text_mobile {
          border: 5px solid pink;
          width: 30%;
          height: auto;
          display: none;
          align-content: center;
          right: 0;
          padding: 7px;
          position: absolute;
          justify-content: flex-start;
          top: 65%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            font-size: 48px;
            line-height: 55px;
            white-space: pre-wrap;
            width: 100%;
          }
        }
      }
    }
  }

  .__btn_contact {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #fff;
    width: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    .__glow_on_hover {
      width: 260px;
      height: 71px;
      border: none;
      outline: none;
      color: #fff;
      background: transparent;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;

      &:before {
        content: "";
        background: linear-gradient(
          45deg,
          #4b4dd0,
          #944fdf,
          #372758,
          #2f1b4a,
          #312d4d,
          #171b33,
          #7a00ff,
          #322830,
          #241253
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:active {
        color: transparent;
      }

      &:active:after {
        background: transparent;
      }

      &:hover:before {
        opacity: 1;
      }

      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  }
}
// ############## RESPONSIVE  ###############
@media screen and (max-width: 1440px) {
  .blocs {
    .__container {
      .__bloc {
        .logo_box {
          .__logo {
            img {
              width: 18rem;
            }
          }
        }
        .__text {
          .home_text {
            display: block;
            p {
              font-size: 33px;
            }
          }
          .__text_mobile {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .blocs {
    .__container {
      .__bloc {
        .logo_box {
          .__logo {
            img {
              width: 18rem;
            }
          }
        }
        .__text {
          .home_text {
            display: block;
          }
          .__text_mobile {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blocs {
    .__container {
      .__bloc {
        .logo_box {
          width: 100%;
          .__logo {
            justify-content: center;
            border: 5px solid red;
            top: 73px;
            img {
              width: 17rem;
              height: auto;
              object-fit: cover;
            }
          }
        }
        .__text {
          .home_text {
            display: none;
          }
          .__text_mobile {
            display: block;

            p {
              font-size: 28px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blocs {
    .__container {
      .__bloc {
        @include blocsTxt(100%, 100%, 50%);
        .logo_box {
          width: 100%;
          .__logo {
            justify-content: center;
            top: 43px;
            img {
              width: 16rem;
            }
          }
        }
        .__text {
          .home_text {
            display: none;
          }
          .__text_mobile {
            display: block;
            p {
              font-size: 22px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .blocs {
    .__container {
      @include blocsTxt(100%, 100%, 50%);
      .__bloc {
        .logo_box {
          width: 100%;
          .__logo {
            justify-content: center;
            top: 45px;
            img {
              width: 11rem;
            }
          }
        }
        .__text {
          .home_text {
            display: none;
          }
          .__text_mobile {
            display: block;
          }
        }
      }
    }
  }
}
