.blocs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.__container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .__bloc {
    width: 100%;
    height: 100%;
    display: flex;
    // border: 4px solid turquoise;
    flex-direction: column;

    .box {
      // border: 1px solid pink;
      /* padding: 20px; */
      /* margin: 10px; */
      text-align: center;

      &.logo_container {
        flex: 2;
        display: flex;
        height: auto;
        margin: auto;
        z-index: 999;
        // position: absolute;
        // border: 2px solid red;

        .__logo {
          display: flex;
          height: auto;
          width: 100%;
          align-self: center;
          justify-content: flex-end;
          padding: 58px;
          // border: 3px solid yellow;
          img {
            max-width: 30rem;
            height: auto;
            object-fit: cover;
          }
        }
      }
      &.button_box {
        flex: 1;
        // border: 2px solid violet;
      }

      &.home_text {
        flex: 0.2;
        height: auto;
        justify-content: flex-end;
        z-index: 11;
        // border: 5px solid green;

        .__regular_text {
          width: 100%;
          height: auto;
          justify-content: flex-end;
          align-self: center;
          justify-content: center;
          display: flex;
          padding: 20px 0;
          p {
            font-size: 47px;
            line-height: 47px;
            white-space: pre-wrap;
          }
        }

        .__text_mobile {
          width: 30%;
          height: auto;
          align-content: center;
          right: 0;
          padding: 7px;
          position: absolute;
          justify-content: flex-start;
          top: 65%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          p {
            font-size: 48px;
            line-height: 55px;
            white-space: pre-wrap;
            width: 100%;
          }
        }
      }
    }
  }
}
