.sections {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 2rem;
  height: 86vh;
}

//////////////////RESPONSIVE//////////////////////
@media only screen and (max-width: 1600px) {
  .sections {
    padding: 1rem;
    height: auto;
  }
}
