.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;

  .card {
    width: 380px;
    height: 460px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(128, 128, 128, 0.5);

    &:hover {
      transform: translateY(20px);

      &:before {
        opacity: 1;
      }

      .__infoBox {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    .__infoBox {
      position: relative;
      z-index: 3;
      color: #fff;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;

      h2 {
        margin: 0;
      }

      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }
    }

    .__btn_link {
      padding: 0.6rem;
      color: red;
      font-weight: bold;
      cursor: pointer;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(#000, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
}
