.link {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  a {
    text-decoration: none;
    font-size: 21px;
    padding: 4px 7px 11px 0px;
    width: 100%;
    font-weight: bolder;
    position: relative; /* Ajoutez cette propriété pour le positionnement absolu de l'image */
    z-index: 2; /* Assurez-vous que le lien est au-dessus de l'image */
    &:hover {
      opacity: 0; /* Le texte du lien devient transparent au survol */
    }
  }

  .hoverImage {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    /* Pas besoin de :hover ici, car l'opacité est gérée par l'état isHovered dans le composant React */
  }
}
