.link {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;

  a {
    text-decoration: none;
    font-size: 24px;
    padding: 4px 7px 11px 0px;
    width: 100%;
    font-weight: bolder;
    position: relative;
    z-index: 11;
    padding: 1.5rem;
    cursor: pointer;
    color: #babecc;
    &:hover {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
    }
  }

  // a {
  //   &[href] {
  //     color: blue;
  //     text-decoration: none;

  //     &:hover {
  //       color: red;
  //     }
  //   }
  // }

  .__hoverImage {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    animation: fadeIn 1s ease-out;
    color: #babecc;

    /* Pas besoin de :hover ici, car l'opacité est gérée par l'état isHovered dans le composant React */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/////////////////// RESPONSIVE ///////////////////////////
// /* Medium devices such as tablets (768px and down) */
@media only screen and (max-width: 1024px) {
  .link {
    .__hoverImage {
      display: block;
    }
    a {
      &:hover {
        opacity: 2;
      }
      &::after {
        content: "";
        display: block;
        margin: 12px auto;
        width: 22px;
        height: 2px;
        background: #babecc;
      }
    }
  }
}
