.about {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;

  .__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    // border: 5px solid pink;
    justify-content: center;
    align-items: center;

    .__about_content {
      width: 100%;
      height: 100%;
      display: flex;
      // border: 4px solid turquoise;

      .box {
        text-align: center;
        display: flex;
        border: 4px solid pink;
        &.__anime_container {
          flex: 1;
          height: auto;
          margin: auto;
          z-index: 999;
          justify-content: flex-end;
          border: 2px solid red;

          .__anime {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }

        &.__text {
          flex: 1;
          height: auto;
          justify-content: flex-end;
          z-index: 11;
          border: 3px solid fuchsia;
          text-align: start;
          position: relative;

          span {
            white-space: normal;
            word-break: break-word;
            display: flex;
            align-items: center;
            // border: 2px solid blue;
            height: auto;
            text-align: center;
            // width: 50%;
            margin: auto;
            padding: 0 0px 37px;
            // height: 12rem;
            line-height: 40px;
          }

          .__regular_text {
            flex-direction: column;
            width: 100%;
            height: auto;
            align-self: center;
            justify-content: center;
            display: flex;
            // padding: 0 35px 0;
            // border: 3px solid green;
            text-align: start;
            padding: 3rem;
            p {
              font-size: 24px;
              line-height: 47px;
              white-space: pre-wrap;
            }
          }

          .__text_mobile {
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: flex-end;
            align-self: center;
            justify-content: center;
            display: flex;
            padding: 40px 0;
            display: none;
            border: 3px solid violet;
            p {
              font-size: 22px;
              line-height: 47px;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}
//////////////////RESPONSIVE/////////////////////////////////
// /* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
  .about {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;

    .__container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 100%;
      position: relative;
      display: block;

      .__img {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 28%;
        }
      }

      .__about_content {
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        border: 3px solid fuchsia;

        .__logo {
          display: flex;
          max-width: 12rem;
          height: auto;
          align-self: center;
          img {
            justify-content: center;
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .__text {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding: 23px;
          margin-top: 31px;
          p {
            position: relative;
            width: 100%;
            overflow: hidden;
            font-size: 18px;
            line-height: 22px;
            white-space: pre-wrap;
          }
        }
        .__text_mobile {
          display: none;
          position: relative;
          width: 100%;
          height: auto;
          p {
            position: relative;
            width: 100%;
            overflow: hidden;
            font-size: 16px;
            line-height: 24px;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}
