.about {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;

  .__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    // border: 5px solid pink;
    justify-content: center;
    align-items: center;

    .__about_content {
      width: 100%;
      height: 100%;
      display: flex;
      // border: 4px solid turquoise;

      .box {
        text-align: center;
        display: flex;
        // border: 4px solid pink;
        &.__anime_container {
          flex: 1;
          height: auto;
          // border: 2px solid red;

          .__anime {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }

        &.__text {
          flex: 1;
          position: relative;
          height: auto;
          width: 100%;

          span {
            white-space: normal;
            word-break: break-word;
            display: flex;
            align-items: center;
            // border: 2px solid blue;
            height: auto;
            text-align: center;
            padding: 0 0px 25px;
            justify-content: center;

            .__icon_left {
              position: relative;
              pointer-events: none;
              // border: 3px solid red;
              width: 3rem;
              height: auto;
              justify-content: center;
            }

            .__icon_right {
              position: relative;
              pointer-events: none;
              // border: 3px solid green;
              width: 3rem;
              height: auto;
            }
          }

          .__regular_text {
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-self: center;
            justify-content: center;
            display: flex;
            text-align: start;
            border: 3px solid red;
            p {
              font-size: 22px;
              line-height: 33px;
              white-space: pre-wrap;
              padding: 22px;
            }
          }

          .__text_mobile {
            flex-direction: column;
            width: auto;
            height: auto;
            text-align: start;
            align-self: center;
            justify-content: center;
            padding: 40px 0;
            display: none;
            border: 3px solid violet;
            padding: 30px 12px;
            background-color: #000;
            min-height: 1px; /* Ajoutez une hauteur minimale */
            p {
              font-size: 17px;
              line-height: 27px;
              white-space: pre-wrap;
            }
            h1 {
              font-size: 19px;
            }
            h2 {
              padding: 0 17px 0;
              font-size: 18px;
              line-height: 33px;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}
////////////////// RESPONSIVE /////////////////////////////////
// /* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
  .about {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;

    .__container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 100%;
      position: relative;
      display: flex;
      // border: 5px solid pink;
      justify-content: center;
      align-items: center;

      .__about_content {
        flex-direction: column;

        // border: 4px solid turquoise;

        .box {
          text-align: center;
          display: flex;
          border: 4px solid pink;
          &.__anime_container {
            flex: 1;
            height: auto;
            border: 2px solid red;

            .__anime {
              display: block;
              width: 100%;
              height: 100%;
              position: relative;
            }
          }

          &.__text {
            flex-direction: column; // Change the flex direction to column
            align-items: center; // Center align the text vertically
            text-align: center; // Center align the text horizontally

            .__regular_text {
              display: none;
            }

            .__text_mobile {
              display: block;
            }
          }
        }
      }
    }
  }
}
