.container {
  position: absolute;
  top: 40%;
  left: 44%;
  height: 5em;
  width: 5em;
  border: 2px solid red;
  transform: translateY(-3.5em) translate(-50%, -50%) rotate(81deg);

  // position: absolute;
  // top: 40%;
  // left: 44%;
  // height: 5em;
  // width: 5em;
  // background: gray;
  // z-index: 5;
  // border-radius: 37% 49% 8%;
  // // border-radius: 100% 100% 30%;
  // transform: translateY(-3.5em) translate(-50%, -50%) rotate(81deg);
  // box-shadow: 0.2em 0.2em 0 0.24em inset, -0.1em -0.1em 0 0.1em inset;

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   background: #000;
  //   height: 0.8em;
  //   width: 0.8em;
  //   border-radius: 100%;
  //   box-shadow: 0.1em 0.1em 0 0.2em white inset;
  // }

  // &::before {
  //   transform: translate(1em, 2em);
  // }

  // &::after {
  //   transform: translate(2em, 1em);
  // }
}

.tentacle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4em;

  .__renderTentacles {
    font-size: 0.9em;
    // height: 4em;
    // width: 2em;
    height: 11em;
    width: 3em;
    border-radius: 100% 100%;
    background: gray;
    // box-shadow: 0.1em -0.8em 0 white inset, 0 0 0 0.3em inset;
    box-shadow: -0.1em 0.1em 0 mix(white, black, 80%) inset;
    position: absolute;
    top: 25%;
    left: 50%;
    animation: rotation 3s ease-in-out alternate infinite;
    border: 3px solid yellow;

    // top: auto;
    // bottom: -3em;
    // left: auto;
    // right: 0;
    // transform: rotate(5deg);
    // transform-origin: 100% 100%;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   z-index: 2;
    //   top: 50%;
    //   right: 100%;
    //   background: #000;
    //   height: 0.7em;
    //   width: 0.3em;
    //   margin: -0.35em -0.15em;
    //   border-radius: 100%;
    //   border-color: aliceblue;
    //   box-shadow: -0.1em 0.1em 0 inset, 0 0 0 0.1em inset;
    // }

    .__tentacles {
      border: 3px solid red;
      top: auto;
      bottom: -3em;
      left: auto;
      right: 0;
      transform: rotate(5deg);
      transform-origin: 100% 100%;
      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 100%;
        background: #000;
        height: 0.7em;
        width: 0.3em;
        margin: -0.35em -0.15em;
        border-radius: 100%;
        border-color: aliceblue;
        box-shadow: -0.1em 0.1em 0 inset, 0 0 0 0.1em inset;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
