.navbar {
  background: linear-gradient(
    90deg,
    rgba(33, 33, 32, 1) 0%,
    rgba(33, 33, 32, 1) 0%,
    rgba(1, 13, 33, 0.96) 50%,
    rgba(1, 4, 46, 1) 100%
  );
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  height: 114px;
  justify-content: space-between;
  padding: 33px;

  &.fixed {
    background: linear-gradient(
      90deg,
      rgba(33, 33, 32, 1) 0%,
      rgba(33, 33, 32, 1) 0%,
      rgba(1, 13, 33, 0.96) 50%,
      rgba(1, 4, 46, 1) 100%
    );
    // background: rgb(23, 22, 22);
    animation: styles_change-background 2s ease-in-out;
    opacity: 0.9;
    z-index: 999;
  }

  .__logo {
    max-height: 5rem;
    height: auto;
    top: 0;
    left: 0;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
    padding: 18px;
    z-index: 4;
  }

  .__nav_menu {
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 45%;
    height: 100%;
  }

  .__nav_burger_menu {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;

    .__summ {
      font-display: block;
      border: none;
      position: absolute;
      background: none;
      cursor: pointer;
      display: flex;
      top: 24px;
      right: 19px;
      width: auto;
      z-index: 4;
      img {
        width: 52px;
      }
    }

    .__menu_mobile {
      flex-direction: column;
      background-color: #000;
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      padding: 2rem;
      text-align: center;
      right: 0;
      z-index: 3;
    }
  }
}

// ############## RESPONSIVE ###############
@media only screen and (min-width: 1200px) {
  .navbar {
    .__nav_menu {
      display: flex !important;
    }
    .__nav_burger_menu {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 960px) {
  .navbar {
    background: #000;
    z-index: 999;
    .__nav_menu {
      display: none;
    }
    .__nav_burger_menu {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    // background: #000;
    z-index: 999;
    .__nav_menu {
      display: none;
    }
    .__nav_burger_menu {
      display: block;
    }
  }
}

@media (min-width: 501px) {
  .navbar {
    // background: #000;
    z-index: 999;
    .__nav_menu {
      display: none;
    }
    .__nav_burger_menu {
      display: block;
    }
  }
}

@media (max-width: 500px) and (min-width: 300px) {
  .navbar {
    // background: #000;
    z-index: 999;
    .__nav_menu {
      display: none;
    }
    .__nav_burger_menu {
      display: block;
    }
  }
}

@media (max-width: 501px) and (min-width: 320px) {
  .navbar {
    // background: #000;
    z-index: 999;
    .__nav_burger_menu {
      display: block;
    }
  }
}

@media (min-width: 320px) {
  .navbar {
    // background: #000;
    z-index: 999;
    .__nav_burger_menu {
      display: block;
    }
  }
}
