$ruler: 16px;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.__title {
  display: flex;
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
  text-transform: uppercase;
}

.__container_form {
  overflow: hidden;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding: $ruler;
  width: calc(#{$ruler} * 20); // Utilisation de calc()
  margin: 0 auto;

  .__form_element {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    label {
      color: grey;
      font-size: 1.5rem;
      justify-content: left;
      justify-content: end;
      text-align: left;
    }

    input {
      border: 0;
      outline: 0;
      font-size: $ruler;
      border-radius: calc(#{$ruler} * 20); // Utilisation de calc()
      padding: $ruler;
      background-color: $color-bg;
      text-shadow: 1px 1px 0 $color-white;
      letter-spacing: -0.2px;
    }

    label {
      display: block;
      margin-bottom: calc(#{$ruler} * 1.5); // Utilisation de calc()
      width: 100%;
    }

    input {
      margin-right: calc(#{$ruler} / 2); // Utilisation de calc()
      box-shadow: inset 2px 2px 5px $color-shadow,
        inset -5px -5px 10px $color-white;
      width: 100%;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      appearance: none;
      -webkit-appearance: none;

      &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow,
          inset -1px -1px 2px $color-white;
      }
    }

    input,
    textarea {
      margin-right: calc(16px / 2);
      box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
      width: 100%;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
      resize: none;
      outline: none;
      border: none;
      //   background-color: #f8f8f8;
      margin-bottom: 2rem;
      height: 5rem;
      border-radius: 34px;
      background-color: $color-bg;
      cursor: pointer;
      overflow: auto;
      padding: 16px;

      &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow,
          inset -1px -1px 2px $color-white;
      }
    }
  }

  button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 14rem;
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: calc(#{$ruler} * 20); // Utilisation de calc()
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    letter-spacing: -0.2px;
    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow,
        inset -1px -1px 2px $color-white;
    }
  }
}
