$ruler: 16px;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.__container_form {
  background: #ebecf0;
  border-radius: 22px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $ruler;
  border: 7px solid turquoise;

  .__form_element {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    label {
      color: grey;
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    input,
    textarea {
      font-size: $ruler;
      border-radius: calc(#{$ruler} * 20);
      padding: 19px;
      text-shadow: 1px 1px 0 $color-white;
      letter-spacing: -0.2px;
      margin-right: calc(#{$ruler} / 2);
      box-shadow: inset 2px 2px 5px $color-shadow,
        inset -5px -5px 10px $color-white;
      width: 100%;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
      resize: none;
      outline: none;
      border: none;
      // margin-bottom: 2rem;
      height: 5rem;
      background-color: $color-bg;
      cursor: pointer;
      overflow: auto;

      &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow,
          inset -1px -1px 2px $color-white;
      }
    }
  }

  label {
    display: block;
  }

  button {
    color: #61677c;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 14rem;
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: calc(#{$ruler} * 20);
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    letter-spacing: -0.2px;
    margin: 18px auto;

    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow,
        inset -1px -1px 2px $color-white;
    }
  }
  div {
    color: #61677c;
  }
}
//////////////////////// RESPONSIVE ///////////////////////////////
// @media only screen and (max-width: 1024px) {
//   .__container_form {
//     width: auto;
//   }
// }
// @media only screen and (max-width: 820px) {
//   .__container_form {
//     width: auto;
//   }
// }
