@import "./style/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 114px);
}
