@import "./style/fonts.scss";

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  // width: 100%;
  min-height: 100vh;
  line-height: 1;
  // background-image: linear-gradient(to left bottom, #26283f, #1f233b, #181d37, #101833, #08132f);
  // background: linear-gradient(
  //   90deg,
  //   rgb(1, 3, 35) 0%,
  //   rgb(28, 28, 47) 0%,
  //   rgba(18, 44, 89, 0.96) 50%,
  //   rgba(1, 4, 46, 1) 100%
  // );
  // background: #c0c0c0;
  // background: rgb(24, 24, 24);
  // background: #babecc;
  // background: linear-gradient(
  //   90deg,
  //   rgb(1, 3, 35) 0%,
  //   rgb(28, 28, 47) 0%,
  //   rgba(18, 44, 89, 0.96) 50%,
  //   rgba(1, 4, 46, 1) 100%
  // );
  // background-image: linear-gradient(
  //   to left bottom,
  //   #282930,
  //   #212330,
  //   #1a1e30,
  //   #12192f,
  //   #08132f
  // );
  // background-color: #181818;
  background: linear-gradient(
    90deg,
    rgb(24, 25, 40) 0%,
    rgb(25, 25, 37) 0%,
    rgba(29, 34, 43, 0.96) 50%,
    rgb(16, 17, 27) 100%
  );
  font-family: "Georama", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  cursor: pointer;
}
